
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@800&family=Varela+Round&display=swap');
body{
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
 }
#heading{
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    color: black;
    background-color: white;
    
}

nav{
    font-family: 'Varela Round', sans-serif;
 }

nav ul{
    display: flex; /* ??checkout the lecture on flexbox: displays ul in horintal fashion */
    list-style-type: none; /*removinf bullet points*/
    align-items: center;
    height: 55px;
    background-color: white;
    color: black;
    
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 50px;
    padding: 0 8px;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;    
}

.container{
    min-height: 72vh; /* vh => 75 percent of height, of the entire screen*/
    background-color: white;
    color: black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg_imgs/bg-img4.jpg');
    background-size: contain; /*This will make the image fit the container without cropping*/
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image in the container */

}
.bottom{
    position: sticky;
    height: 130px;
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.icons{
    margin-top: 25px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    
}

.icons i {
    margin: 0 5px ;
}


#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemConatiner{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display:flex;
    background-color: grey;
    /* width: 80%; */
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 43px;
    margin: 0 23px 0;
    padding: 10px 10px;
    border-radius: 34px;
    
}
.timeStamp{
    margin: 0 23px;
    
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin: 10px 2px 0;
}


